@media (max-width: 992px) {
    .background-effect {
        top: 7rem;
        transform: scale(300%);
    }

    .landing {
        height: 85vh;
    }

    .landing-header {
        font-size: 3.5rem;
    }

    .navbar-collapse {
        background-color: var(--white);
        border-radius: 0.5rem;
        padding: 3rem 2rem;
        margin-top: 2rem;
        box-shadow: 0 0 10rem #000000aa;
    }

    .navbar-collapse .box {
        height: 100%;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .navbar-collapse ul {
        margin: auto;
    }

    .navbar-collapse .dropdown,
    .navbar-collapse .dropdown .dropdown-menu {
        font-size: 1.25rem;
    }

    .navbar-collapse .dropdown .dropdown-menu {
        background-color: rgba(211, 211, 211, 0.726);
    }

    .navbar-collapse .nav-link,
    .navbar-nav .dropdown-item,
    .navbar-collapse .link {
        color: var(--blue-900) !important;
    }

    .navbar-nav .dropdown-menu {
        text-align: center;
    }

    .dropdown-toggle::after {
        background-image: url("../images/icon-arrow-dark.svg") !important;
    }

    .main-btn,
    .secondary-btn {
        width: 12rem;
        height: 4rem;
    }

    .landing-buttons .main-btn {
        margin-right: 3rem !important;
    }

    .sign-up {
        background-image: linear-gradient(
            90deg,
            var(--orange-300),
            var(--red-550)
        );
        color: var(--white) !important;
        width: 8rem;
        height: 3rem;
    }

    .navbar-collapse .login-small {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem 0 0 0;

        border-top: 2px solid rgb(223, 223, 223);
    }

    .navbar-collapse .login-small .sign-up {
        margin: 1rem 0 0 0 !important;
    }
}
