:root {
    /* Primary */

    --red-500: hsl(356, 100%, 66%);
    --red-400: hsl(355, 100%, 74%);
    --blue-900: hsl(208, 49%, 24%);

    /* Neutral */

    --white: hsl(0, 100%, 100%);
    --gray-600: hsl(207, 13%, 34%);
    --gray-900: hsl(240, 10%, 16%);

    /* Background gradient - intro/CTA mobile nav: */

    --orange-300: hsl(13, 100%, 72%);
    --red-550: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --purple-950: hsl(237, 17%, 21%);
    --purple-900: hsl(237, 23%, 31%);
}

.navbar ul {
    border: none;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
    border: none !important;
    box-shadow: none !important;
}

/* HAMBURGER ICON TOGGLER FROM GEMINI */
.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .hamburger-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .close-icon {
    display: inline-block;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.link:hover,
.link:active {
    color: white !important;
    text-decoration: underline !important;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: transparent !important;
    font-weight: 700 !important;
}

/* CODE REUSED FROM GEMINI */
.dropdown-toggle::after {
    display: inline-block !important;
    border: none !important;
    background-image: url("../images/icon-arrow-light.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    width: 12px !important;
    height: 8px !important;
    margin-left: 0.5rem !important;
    vertical-align: middle !important;
    transform: rotate(0deg) !important;
    transition: 0.2s ease;
}

.dropdown-toggle:active::after,
.dropdown-toggle:focus::after {
    transform: rotate(180deg) !important;
    transition: 0.2s ease;
}

.landing {
    background-image: linear-gradient(90deg, var(--orange-300), var(--red-550));
    height: 65vh;
    border-radius: 0 0 0 7.5rem;
}

.background-effect {
    transform: scale(175%) translate(10%, -20%);
}

.main-btn {
    width: 8rem;
    height: 3rem;
    color: var(--red-500);
    background-color: var(--white);
    border: none;
}

.main-btn:hover {
    color: var(--white);
    background-color: var(--red-400);
}

.secondary-btn {
    width: 8rem;
    height: 3rem;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}

.secondary-btn:hover {
    color: var(--red-400);
    background-color: var(--white);
}

.landing-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.landing-header {
    font-size: 4rem;
}

/* A GOOD TRANSITION FROM GEMINI */
/* cubic-bezier(0.68, -0.55, 0.265, 1.55) */
